<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.merp.android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.DatePickerActivity"
            android:label="@string/title_activity_date_picker"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.ExpensesSourcesActivity"
            android:label="@string/title_activity_expenses_sources"
            android:parentActivityName=".activities.EditExpenseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.merp.android.activities.EditExpenseActivity" />
        </activity>
        <activity
            android:name=".activities.EarningsSourcesActivity"
            android:label="@string/title_activity_earnings_sources"
            android:parentActivityName=".activities.EditEarningActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.merp.android.activities.EditEarningActivity" />
        </activity>
        <activity
            android:name=".activities.ViewReportsActivity"
            android:label="@string/title_activity_view_reports"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.merp.android.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.EditExpenseActivity"
            android:label="@string/title_activity_edit_expense"
            android:parentActivityName=".activities.ExpensesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.merp.android.activities.ExpensesActivity" />
        </activity>
        <activity
            android:name=".activities.ExpensesActivity"
            android:label="@string/title_activity_expenses"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.merp.android.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.EditEarningActivity"
            android:label="@string/title_activity_edit_earning"
            android:parentActivityName=".activities.EarningsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.merp.android.activities.EarningsActivity" />
        </activity>
        <activity
            android:name=".activities.EarningsActivity"
            android:label="@string/title_activity_earnings"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.merp.android.activities.MainActivity" />
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>